    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
      padding: 15px;
      background: #cbcdd0;
    }

    .item {
      border-radius: 8px;
    }

    #colum1 {
      background: rgb(150, 221, 8);
      grid-column: span 2;
      height: 100px;
    }

    #colum2 {
      background: rgb(27, 74, 84);
      grid-column: span 1;
      height: 100px;
    }

    #colum3 {
      background: darkgreen;
      grid-column: span 1;
      height: 100px;
    }

    #colum4 {
      background: rgb(78, 236, 193);
      grid-column: span 2;
      height: 100px;
    }

    #colum5 {
      background: rgb(235, 3, 38);
      grid-column: span 3;
      height: 100px;
    }